#scrollUpButton {
    position: fixed;
    bottom: 32px;
    right: 32px;
    z-index: 99;
    padding: 0;
    border: none;
    outline: none;
    opacity: 0;
    transition: opacity 0.25s ease-in-out;
    border-radius: 50%;
}