<div id="spe_medic_modal" class="modal fade" tabindex="-1" aria-labelledby="spe_medic_modal_label" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="spe_medic_modal_label">Ophtalmologie</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body d-grid gap-2">
                <a href="#" class="btn btn-primary text-white">Professionnels de cette spécialité</a>
                <a href="#" class="btn btn-primary text-white">Cabinets liés à cette spécialité</a>
                <a href="#" class="btn btn-primary text-white">&Eacute;vénements liés à cette spécialité</a>
            </div>
        </div>
    </div>
</div>