form#spemedic_docoffice_form_page {
    & > div#doc_office_section {
        & > div.doc_office_list_container {
            display: flex;
            flex-flow: column nowrap;
            gap: 16px;

            @media screen and (min-width: 991px) {
                display: grid;
                grid-template-columns: repeat(2, 1fr);
            }
        }
    }
}